In [1]:
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

/Users/judgemongcal/Documents/GitHub/secure-transact-ml/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/Users/judgemongcal/Documents/GitHub/secure-transact-ml/venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [16]:
file_path = "credit_card_transactions.csv"
raw_df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, 
                            "priyamchoksi/credit-card-transactions-dataset",
                            file_path)

print(raw_df.dtypes)

/var/folders/c9/wtm2cn2n4rnf780ncx8l0wf40000gn/T/ipykernel_32792/2022837736.py:2: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  raw_df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS,

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.9), please consider upgrading to the latest version (0.3.10).
Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
merch_zipcode            float64
dtype: object

### **Columns**
**trans_date_trans_time**     - Timestamp of the transaction.

**cc_num**                    - Credit card number (hashed or anonymized).

**merchant**                  - Merchant or store where the transaction occurred.

**category**                  - Type of transaction (e.g., grocery, entertainment).

**amt**                       - Amount of the transaction.

**first**                     - First name of the cardholder.

**last**                      - Last name of the cardholder.

**gender**                    - Gender of the cardholder.

**street**                    - Address details of the cardholder.

**city**                      - Address details of the cardholder.

**state**                     - Address details of the cardholder.

**zip**                      - Address details of the cardholder.

**lat**                       - Geographical coordinates of the transaction.

**long**                      - Geographical coordinates of the transaction.

**city_pop**                  - Population of the city where the transaction occurred.

**job**                       - Occupation of the cardholder.

**dob**                       - Date of birth of the cardholder.

**trans_num**                 - Unique transaction number.

**unix_time**                 - Unix timestamp of the transaction.

**merch_lat**                 - Geographical coordinates of the merchant.

**merch_long**                - Geographical coordinates of the merchant.

**is_fraud**                  - Indicator of whether the transaction is fraudulent.

**merch_zipcode**             - Geographical coordinates of the merchant.

In [17]:
raw_df.isnull().sum()

Unnamed: 0                    0
trans_date_trans_time         0
cc_num                        0
merchant                      0
category                      0
amt                           0
first                         0
last                          0
gender                        0
street                        0
city                          0
state                         0
zip                           0
lat                           0
long                          0
city_pop                      0
job                           0
dob                           0
trans_num                     0
unix_time                     0
merch_lat                     0
merch_long                    0
is_fraud                      0
merch_zipcode            195973
dtype: int64

In [19]:
print(raw_df[raw_df.duplicated()])

Empty DataFrame
Columns: [Unnamed: 0, trans_date_trans_time, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud, merch_zipcode]
Index: []

[0 rows x 24 columns]

In [20]:
raw_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

### **Standardize Data Formats**

In [21]:
raw_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

In [23]:
str_cols = ['merchant', 'category', 'first', 'last', 'job', 'city', 'state']
date_cols = ['trans_date_trans_time', 'dob']

formatted_df = raw_df.copy()
formatted_df[str_cols] = formatted_df[str_cols].astype(str).apply(lambda x: x.str.lower())
formatted_df[date_cols] = formatted_df[date_cols].apply(pd.to_datetime, errors = 'coerce').apply(lambda x: x.dt.strftime('%Y-%m-%d %H:%M:%S'))

formatted_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_rippin, kub and mann",misc_net,4.97,jennifer,banks,F,561 Perry Cove,...,-81.1781,3495,"psychologist, counselling",1988-03-09 00:00:00,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_heller, gutmann and zieme",grocery_pos,107.23,stephanie,gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,special educational needs teacher,1978-06-21 00:00:00,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_lind-buckridge,entertainment,220.11,edward,sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,nature conservation officer,1962-01-19 00:00:00,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_kutch, hermiston and farrell",gas_transport,45.00,jeremy,white,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,patent attorney,1967-01-12 00:00:00,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_keeling-crist,misc_pos,41.96,tyler,garcia,M,408 Bradley Rest,...,-79.4629,99,dance movement psychotherapist,1986-03-28 00:00:00,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0